.ui-menu  
{
	width: 275px;
	background-color: Black;
}

.ui-widget 
{
	font-size: 1.5em;
}

.ui-widget-content a
{
	color: #999999;
	text-decoration: none;
	padding-top: 5px;
	padding-bottom: 5px;
}

.menu-display 
{
	display: inline-block;
	float: left;
}

.details-display 
{
	display: inline-block;
	margin-left: 15px;
	float: left;
}